.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    flex: 1 1 auto;
}

.contact-container-info{
    flex: 0 1 auto;
}

.contact-container-info  h1 {
    font-size: 54px;
}
.google-map{
    overflow: hidden;
    margin: 10px;
    width: 90%;
    flex: 1 1 auto;
    height: 100%;
}

.google-map iframe {
    height: 100%;
    width: 100%;
    min-height: 300px;
}