.footer {
    display: flex;
    /* border: 1px solid black; */
    justify-content: center;
    /* color: black; */
    /* background-color: pink; */
    flex-direction: column;
    align-items: center;
    padding-top: 5px;
}

.footer p {
    display: inline-block;
}

