.homepage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 auto;
}

a:visited {
    color: white;
}

.welcome-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 15px;
    /* flex: 1 1 auto; */
    width: 100%;
    /* margin: auto 0; */
    min-height: 15vh;
}

.welcome-container p {
    width: 75%; 
}

.menu-section {
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 1px solid white;
}

.menu-section-image {
    background-image: url("../assets/tacos.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 50%;
    overflow: hidden;
    /* needs right border */
}
.menu-section-desc {
    display: flex;
    flex-direction: column;
    width: 50%;
    overflow: hidden;
    line-height: 2;
    padding: 0;
    margin: 4rem 3rem;
}

.menu-section-desc h2 {
    font-size: 35px;
    margin-bottom: 0;
}

.menu-section-desc p {
    word-wrap: pre-wrap;
}

.menu-section-desc-button {
    width: 100px;
    height: 50px;
    color: white;
    background-color: black;
    border: 1px solid white;
}


.header-section-container {
    height: 30vh;
    overflow: hidden;
}

.header-section-container img {
    position: relative;
    left: 0;
    top: -600px;
    /* width: 110vw; */
    object-fit: cover;
    object-position: bottom;
    min-height: 45vh;
}



/*Mobile*/
@media (max-width: 786.89px){
    .header-section-container img {
        position: relative;
        left: 0;
        top: -500px;
        width: initial;
    }
    .menu-section {
        flex-direction: column;
        height: 100%;
    }
    .menu-section-desc {
        height: 50%;
        margin: 0;
    }
    .menu-section-image {
        height: 50%;
        width: 100%;
    }


 }