.page-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    align-items: center;
    margin: 5% 5%;
    text-align: center;
}

.page-container-submission {
    margin-top: 5%;
}

.page-container-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
    width: 33%;
}

.page-container-form input {
    height: 50px;
    width: 100%;
}

.page-container-form button {
    width: 50%;
    max-width: 200px;
    height: 50px;
    align-self: center;
}

.page-container-form textarea {
    width: 100%;
    height: 100px;
    resize: none;
}


/* Mobile */
@media (max-width: 786.89px){
    .page-container-form {
        width: 100%;
    }

    .page-container-form input, textarea {
        box-sizing: border-box;
    }

 }
