.App {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: darkslategrey;
}

.header{
    flex: 0 1 auto;
}

.content {
    flex: 1 1 auto;
}

.footer {
    flex: 0 1 auto
}