@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');

:root {
  display: contents;
  height: 100%;
  font-weight: 400;
  color: white;
  background-color: black;

}


body {
  margin: 0;
  height: 100%;
  font-family: "Space Grotesk", serif;
}

a, a:link, a:visited, a:focus, a:hover, a:active{
  color: white;
  text-decoration:none;
}
